*{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    display: flex;
    align-items: center;
    height:60px;
    background-color: #0f1111;
    color: white;
    justify-content: space-evenly;
}
.nav-logo{
    height: 60px;
    width: 113px;
}
.logo{
    background-image: url('amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
}
.nav-logo:hover{
    border:2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

/* box2*/
.add-icon {
  display: flex;
  align-items: center;
}
.add-first {
  color: #cccccc;
  font-size: 0.9rem;
  padding-left: 15px;
}
.add-second {
  font-size: 1rem;
  padding-left: 3px;
}
.nav-address:hover{
  border:2px solid white;
  border-radius: 4px;
  cursor: pointer;
}

/* box3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  height: 40px;
  width: 620px;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 50px;
  border: none;
  text-align: center;
  cursor: pointer;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border:none;
  outline:none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  color:#0f1111;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* box4 */
/* Language Box */
.nav-language {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 6px;
  cursor: pointer;
  border-radius: 4px;
}

.nav-language:hover {
  border: 2px solid white;
}

.flag {
  width: 20px;
  height: 14px;
  object-fit: cover;
}

.lang-text {
  font-size: 0.9rem;
  font-weight: 700;
  color: white;
  display: flex;
  align-items: center;
  gap: 3px;
}

/* box5 */
span {
  font-size: 0.75rem;
}
.nav-second {
  font-size: 0.8rem;
  font-weight: 700;
}
.nav-signin:hover, .nav-return:hover {
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
}

/* box6 */
.nav-cart i{
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
  cursor: pointer;
}
.nav-cart:hover {
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
}

/* panel */
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
}
.panel-ops {
  display: flex;
  width: 70%;
  font-size: 0.85rem;
  gap: 5px;

}
.panel-ops p {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 0 12px;
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.panel-ops p:hover {
  border: 2px solid white;
  border-radius: 4px;
}.panel-all {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 0 18px;          
  margin-right: 10px;       
  font-weight: 700;
  cursor: pointer;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.panel-all i {
  margin-right: 6px;         
}
.panel-all:hover {
  border: 1px solid white;
  border-radius: 2px; 
}
body {
  margin: 0;
  background-color: #edf4c7;
}
/* hero-section */
.hero-section {
  background-image: url(hero_image.jpg);
  height: 350px;
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0px;
}
.hero-message {
  position: absolute;
  bottom: -15px;           
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 10;
}
.hero-message a {
  color: #2162A1;
  cursor: pointer;
  text-decoration: underline;
}

/* Shop-section */
.shop-section{
    height:980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #edf4c7;
    padding: 2rem 0;
}
.box{
    height:400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 15px;
}
.box-image{
    margin-top:1rem;
    margin-bottom: 1rem;
    height:300px;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content h2{
    margin-bottom: 6px;
}
.box-content p{
    color: #007185;
    cursor: pointer;
}
.box-content p:hover{
    text-decoration: underline;
}
/* sign-in */
.sign-in{
    height:150px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.sign-in p{
    font-size: 0.78rem;
    font-weight: 600;
}
button{
    margin-top: 3px;
    height:28px;
    width: 220px;
    font-weight: 700;
    background-color: rgb(252, 180, 46);
    border-radius: 5px;
    margin-bottom: 3px;
}
button:hover{
    background-color: orange;
    cursor: pointer;
}

.sign-in a{
    color: #007185;
    cursor: context-menu;
}
.sign-in a:hover{
    text-decoration: underline;
}
/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul p{
    font-weight: 700;
}
ul a{
    display: block;
    font-size: 0.87rem;
    margin-top: 10px;
    color:#dddddd;
}
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid rgb(165, 162, 162,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.details{
    margin-left: 60px;
}
.details button{
    height:35px;
    width:130px;
    background-color: #222f3d;
    color: rgb(241,232,232,0.6);
    border: 1px solid rgb(241, 232, 232,0.2);
}
.details button:hover{
    background-color: white;
    color:#222f3d;
    cursor: pointer;
}
/* panel4 */
.foot-panel4{
    border-top: 0.1px solid rgb(165, 162, 162,0.3);
    background-color: #222f3d;
    color: white;
    height: 76px;
}
.pages{
    font-size: 1rem;
    text-align: center;
    padding-top: 16px;
}
.copyright{
    font-size: 0.9rem;
    text-align: center;
    margin-top: 5px;
}